:root{
    --primary-color: rgb(231, 180, 188);
    --primary-hover: rgb(223, 156, 167);
    --bg-color: black;
    --text-color: black;
    --white: white;
    --shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -2px rgba(0,0,0,0.1);
    --radius:8px;
    --font-main: "Inter", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}